.left-panel-container{
    display: grid;
    grid-template-rows: 6% 3% 88% 3%;

}

.panelHeader{
    background-color: #282c34;
    color: white;
}

.acknowledged {
    display: block;
    background-color: lightblue;
    border: 1px solid black
}
incidentContainer {
    height: 100%;
}
.summery{
    background-color: lightcyan;
    display: block;

}